﻿<!--Index de Clientes-->
@{
    ViewBag.Title = "Clientes";
}
@section scripts{
    @Scripts.Render("~/bundles/cliente")
}
<div class="page-header">
    <label data-bind="text: error" />
</div>

<!--TABLA-->
<div class="row">
    <div class="col-md-12">
        <h2>
            Lista de clientes
            <button type="button" class="btn btn-success"
                    data-toggle="modal" data-target="#modalAgregarCliente">
                Nuevo cliente
            </button>
        </h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Nit</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: clientes">
                <tr>
                    <td data-bind="text: IdCliente"></td>
                    <td data-bind="text: Nombre"></td>
                    <td data-bind="text: Nit"></td>
                    <td data-bind="text: Direccion"></td>
                    <td data-bind="text: Telefono"></td>
                    <td data-bind="text: Correo"></td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-warning"
                                    data-toggle="modal"
                                    data-target="#modalEditarCliente"
                                    data-bind="click: $root.cargar">
                                Editar
                            </button>
                            <button class="btn btn-danger"
                                    data-bind="click: $root.eliminar">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--FIN TABLA-->

<!--MODAL AGREGAR CLIENTE-->
<div class="modal fade" tabindex="-1"
     id="modalAgregarCliente"
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: agregar">

                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Agregar Cliente</h3>
                </div>

                <!--Inicio modal body-->
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control"
                               name="inputNombre" id="inputNombre"
                               data-bind="value: clienteNuevo.Nombre" />
                    </div>
                    <div class="form-group">
                        <label>Nit</label>
                        <input type="text" class="form-control"
                               name="inputNit" id="inputNit"
                               data-bind="value: clienteNuevo.Nit" />
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" class="form-control"
                               name="inputDireccion" id="inputDireccion"
                               data-bind="value: clienteNuevo.Direccion" />
                    </div>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" class="form-control"
                               name="inputTelefono" id="inputTelefono"
                               data-bind="value: clienteNuevo.Telefono" />
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="text" class="form-control"
                               name="inputCorreo" id="inputCorreo"
                               data-bind="value: clienteNuevo.Correo" />
                    </div>
                </div>
                <!--FIN MODAL BODY-->
                <!--Footer modal body-->
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-primary">
                        Guardar
                    </button>
                </div>
                <!--FIN MODAL FOOTER-->

            </form>
        </div>
    </div>
</div>

<!--MODAL EDITAR CLIENTE-->
<div class="modal fade" tabindex="-1"
     id="modalEditarCliente"
     role="dialog" aria-labelledby="myModalLabel"
     data-bind="if: clienteCargado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: editar">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Editar Hotel</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nuevo nombre</label>
                        <input type="text" class="form-control"
                               name="inputNombre" id="inputNombre"
                               data-bind="value: clienteCargado().Nombre" />
                    </div>
                    <div class="form-group">
                        <label>Nuevo nit</label>
                        <input type="text" class="form-control"
                               name="inputNit" id="inputNit"
                               data-bind="value: clienteCargado().Nit" />
                    </div>
                    <div class="form-group">
                        <label>Nueva dirección</label>
                        <input type="text" class="form-control"
                               name="inputDireccion" id="inputDireccion"
                               data-bind="value: clienteCargado().Direccion" />
                    </div>
                    <div class="form-group">
                        <label>Nuevo teléfono</label>
                        <input type="text" class="form-control"
                               name="inputTelefono" id="inputTelefono"
                               data-bind="value: clienteCargado().Telefono" />
                    </div>
                    <div class="form-group">
                        <label>Nuevo correo</label>
                        <input type="email" class="form-control"
                               name="inputCliente" id="inputCliente"
                               data-bind="value: clienteCargado().Correo" />
                    </div>
                </div><!--FIN MODAL BODY-->

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-success">
                        Editar
                    </button>
                </div>
                <!--FIN MODAL FOOTER-->

            </form>
        </div>
    </div>
</div>