﻿@model ProyectoApiHotel.Models.Usuarios

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar</title>
</head>
<body>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <h4>Usuarios</h4>
        <hr />
        <dl class="dl-horizontal">
              
            <dt>
                @Html.DisplayNameFor(model => model.Usuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Usuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Contrasena)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Contrasena)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Privilegio.Privilegio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Privilegio.Privilegio)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Regresar", "Index")
            </div>
        }
    </div>
</body>
</html>
