﻿@model ProyectoApiHotel.Models.Usuarios

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle</title>
</head>
<body>
    <div>
        <h4>Usuarios</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Usuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Usuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Contrasena)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Contrasena)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.Privilegio.Privilegio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Privilegio.Privilegio)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdUsuario }) |
        @Html.ActionLink("Regresar", "Index")
    </p>
</body>
</html>
