﻿@model IEnumerable<ProyectoApiHotel.Models.Usuarios>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuarios</title>
</head>
<body>
    <p>
        @Html.ActionLink("Nuevo", "Create")
    </p>
    <table class="table">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Privilegio.Privilegio)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Privilegio.Privilegio)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdUsuario }) |
                @Html.ActionLink("Detalle", "Details", new { id=item.IdUsuario }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.IdUsuario })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
