﻿@model ProyectoApiHotel.Models.Privilegios

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle</title>
</head>
<body>
    <div>
        <h4>Privilegios</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Privilegio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Privilegio)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdPrivilegio }) |
        @Html.ActionLink("Regresar", "Index")
    </p>
</body>
</html>
