﻿<!--Index de Eventos-->
@{
    ViewBag.Title = "Eventos";
}
@section scripts{
    @Scripts.Render("~/bundles/evento")
}
<div class="page-header">
    <label data-bind="text: error" />
</div>
<!--TABLA-->
<div class="row">
    <div class="col-md-12">
        <h2>
            Lista de eventos
            <button type="button" class="btn btn-success"
                    data-toggle="modal" data-target="#modalAgregarEvento">
                Nuevo evento
            </button>
        </h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre evento</th>
                    <th>Fecha</th>
                    <th>Hotel</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: eventos">
                <tr>
                    <td data-bind="text: IdEvento"></td>
                    <td data-bind="text: NombreEvento"></td>
                    <td data-bind="text: FechaEvento"></td>
                    <td data-bind="text: Hotel.Nombre"></td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-warning"
                                    data-toggle="modal"
                                    data-target="#modalEditarEvento"
                                    data-bind="click: $root.cargar">
                                Editar
                            </button>
                            <button class="btn btn-danger"
                                    data-bind="click: $root.eliminar">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--FIN TABLA-->

<!--MODAL AGREGAR EVENTO-->
<div class="modal fade" tabindex="-1"
     id="modalAgregarEvento"
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: agregar">

                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Agregar Evento</h3>
                </div>

                <!--Inicio modal body-->
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre del evento</label>
                        <input type="text" class="form-control"
                               name="inputNombre" id="inputNombre"
                               data-bind="value: eventoNuevo.NombreEvento" />
                    </div>
                    <div class="form-group">
                        <label>Fecha del evento</label>
                        <input type="text" class="form-control"
                               name="inputFecha" id="inputFecha"
                               data-bind="value: eventoNuevo.FechaEvento" />
                    </div>
                    <div class="form-group">
                        <label>Hotel</label>
                        <select class="form-control"
                                data-bind="options: hoteles, optionsText: 'Nombre', value: eventoNuevo.Hotel"></select>
                    </div>
                </div>
                <!--FIN MODAL BODY-->

                <!--Footer modal body-->
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-primary">
                        Guardar
                    </button>
                </div>
                <!--FIN MODAL FOOTER-->

            </form>
        </div>
    </div>
</div>

<!--MODAL EDITAR EVENTO-->
<div class="modal fade" tabindex="-1"
     id="modalEditarEvento"
     role="dialog" aria-labelledby="myModalLabel"
     data-bind="if: eventoCargado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: editar">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Editar Evento</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nuevo nombre de evento</label>
                        <input type="text" class="form-control"
                               name="inputNombre" id="inputNombre"
                               data-bind="value: eventoCargado().NombreEvento" />
                    </div>
                    <div class="form-group">
                        <label>Nueva fecha</label>
                        <input type="text" class="form-control"
                               name="inputFecha" id="inputFecha"
                               data-bind="value: eventoCargado().FechaEvento" />
                    </div>
                    <div class="form-group">
                        <label>Nuevo hotel</label>
                        <select class="form-control"
                                data-bind="options: hoteles, optionsText: 'Nombre', value: eventoCargado().Hotel"></select>
                    </div>
                </div><!--FIN MODAL BODY-->
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-success">
                        Editar
                    </button>
                </div><!--FIN MODAL FOOTER-->
            </form>
        </div>
    </div>
</div>