﻿<!--Index de Eventos-->
@{
    ViewBag.Title = "Hoteles";
}
@section scripts{
    @Scripts.Render("~/bundles/hotel")
}
<div class="page-header">
    <label data-bind="text: error" />
</div>

<!--TABLA-->
<div class="row">
    <div class="col-md-12">
        <h2>
            Lista de hoteles
            <button type="button" class="btn btn-success"
                    data-toggle="modal" data-target="#modalAgregarHotel">
                Nuevo hotel
            </button>
            <button type="button" class="btn btn-info">
                Estadística de hoteles
            </button>
        </h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Nombre de adminstrador</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: hoteles">
                <tr>
                    <td data-bind="text: IdHotel"></td>
                    <td data-bind="text: Nombre"></td>
                    <td data-bind="text: Direccion"></td>
                    <td data-bind="text: Telefono"></td>
                    <td data-bind="text: NombreAdministrador"></td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-warning"
                                    data-toggle="modal"
                                    data-target="#modalEditarHotel"
                                    data-bind="click: $root.cargar">
                                Editar
                            </button>
                            <button class="btn btn-danger"
                                    data-bind="click: $root.eliminar">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--FIN TABLA-->

<!--MODAL AGREGAR HOTEL-->
<div class="modal fade" tabindex="-1"
     id="modalAgregarHotel"
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: agregar">

                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Agregar Hotel</h3>
                </div>

                <!--Inicio modal body-->
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control"
                               name="inputNombre" id="inputNombre"
                               data-bind="value: hotelNuevo.Nombre" />
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" class="form-control"
                               name="inputDireccion" id="inputDireccion"
                               data-bind="value: hotelNuevo.Direccion" />
                    </div>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" class="form-control"
                               name="inputTelefono" id="inputTelefono"
                               data-bind="value: hotelNuevo.Telefono" />
                    </div>
                    <div class="form-group">
                        <label>Nombre de administrador</label>
                        <input type="text" class="form-control"
                               name="inputNombreAdministrador" id="inputNombreAdministrador"
                               data-bind="value: hotelNuevo.NombreAdministrador" />
                    </div>
                </div>
                <!--FIN MODAL BODY-->
                <!--Footer modal body-->
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-primary">
                        Guardar
                    </button>
                </div>
                <!--FIN MODAL FOOTER-->

            </form>
        </div>
    </div>
</div>

<!--MODAL EDITAR HOTEL-->
<div class="modal fade" tabindex="-1"
     id="modalEditarHotel"
     role="dialog" aria-labelledby="myModalLabel"
     data-bind="if: hotelCargado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: editar">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Editar Hotel</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nuevo nombre</label>
                        <input type="text" class="form-control"
                               name="inputNombre" id="inputNombre"
                               data-bind="value: hotelCargado().Nombre" />
                    </div>
                    <div class="form-group">
                        <label>Nueva dirección</label>
                        <input type="text" class="form-control"
                               name="inputDireccion" id="inputDireccion"
                               data-bind="value: hotelCargado().Direccion" />
                    </div>
                    <div class="form-group">
                        <label>Nuevo teléfono</label>
                        <input type="text" class="form-control"
                               name="inputTelefono" id="inputTelefono"
                               data-bind="value: hotelCargado().Telefono" />
                    </div>
                    <div class="form-group">
                        <label>Nuevo nombre de administrador</label>
                        <input type="text" class="form-control"
                               name="inputNombreAdministrador" id="inputNombreAdministrador"
                               data-bind="value: hotelCargado().NombreAdministrador" />
                    </div>
                </div><!--FIN MODAL BODY-->

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-success">
                        Editar
                    </button>
                </div>
                <!--FIN MODAL FOOTER-->

            </form>
        </div>
    </div>
</div>